.SearchBox {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  .SearchBox-Input-Container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    ::placeholder {
      text-align: center;
      user-select: none;
    }

    .SearchBox-Input {
      width: 320px;
      padding: 8px;
      outline: none;
      border: 1px solid black;
      background-color: rgb(141, 255, 188);
      box-sizing: border-box;
    }
  }

  .SearchBox-Results-Container {
    top: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 320px;
    a {
      padding: 8px;
      margin: 0px;
      user-select: none;
      cursor: pointer;
      font-size: 13px;
      background-color: rgb(191, 247, 196);

      &:hover {
        background-color: rgb(141, 255, 150);
      }
    }

    .lonlat {
      font-size: 10px;
    }
  }
}
