.DataDisplay-Container {
  width: 100%;
  height: auto;
  text-align: center;

  h1 {
    font-size: 25px;
  }
  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      background-color: lightgray;
      font-weight: bold;
    }

    th,
    td {
      padding: 8px;
      border: 1px solid black;
      text-align: center;
    }

    th {
      font-size: 16px;
      cursor: pointer;
      &:hover {
        background-color: rgb(83, 83, 83);
        color: #ffffff;
      }
    }
    td {
      font-size: 14px;
    }
    th.active {
      color: rgb(255, 17, 0);
      &:hover {
        background-color: rgb(83, 83, 83);
        color: rgb(255, 164, 164);
      }
    }

    th[data-type="Rainfall"]:hover,
    th[data-type="Snowfall"]:hover {
      background-color: transparent;
      color: inherit;
      cursor: text;
    }
  }
}
