.FilteringAndSorting-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px 0px;

  input {
    outline: 0;
    border: 1px solid black;
    padding: 8px 12px;
    text-align: center;
  }

  input.active {
    color: red;
  }

  h1 {
    margin: 0;
  }
}
