.CurrentLocation-Display {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
    .row {
        display: flex;
        justify-content: space-evenly;
        width:40%;
    p {
        display: flex;
        flex-direction: column;
        text-align: center;
        width:25%;
    }
    .city-name {
        font-size: 30px;
    }
    }
    
}